[submodule "themes/sanskrit-documentation-theme-hugo"]
	path = themes/sanskrit-documentation-theme-hugo
	url = https://github.com/sanskrit-coders/sanskrit-documentation-theme-hugo.git
	update = merge
[submodule "content"]
	path = content
	url = https://github.com/vyasaonline/mahAbhArata.git
	branch = content
	update = merge
